Repository escapace/fastify-fetch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"],
  "*.{yml,yaml}": ["prettier --write"],
  "src/**/*.{js,mjs,cjs,ts,mts,cts}": ["eslint --fix", "prettier --write"]
}

fix: package.json to reduce vulnerabilities
  package.json
Due: prettier --write

feat: updates
  .github/labeler.yaml
  .github/workflows/labeler.yaml
  package.json
  pnpm-lock.yaml
  src/fastify-fetch.ts
  src/index.spec.ts
Due: prettier --write, eslint --fix

fix: undici
  .github/codecov.yaml
  .github/dependabot.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .github/workflows/workflow-call-ci.yaml
  .github/workflows/workflow-call-context.yaml
  package.json
  pnpm-lock.yaml
  src/fastify-fetch.ts
  src/undici.d.ts
Due: prettier --write, eslint --fix

chore: eslint
  .eslintignore
  .eslintrc.json
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  scripts/release.mjs
  src/index.spec.ts
Due: prettier --write, eslint --fix

chore: eslint
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: eslint
  package.json
  pnpm-lock.yaml
  src/fastify-fetch.ts
  src/headers.ts
  src/index.spec.ts
  src/index.ts
  src/types.ts
  src/undici.d.ts
Due: prettier --write, eslint --fix

chore: workflow
  .c8rc.json
  .editorconfig
  .github/codecov.yaml
  .github/dependabot.yaml
  .github/workflows/ci.yaml
  .github/workflows/dependency-review.yaml
  .github/workflows/release.yaml
  .github/workflows/workflow-call-ci.yaml
  .github/workflows/workflow-call-context.yaml
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  .ls-lint.yaml
  .syncpackrc.json
  eslint.config.mjs
  knip.json
  lefthook.yaml
  package.json
  pnpm-lock.yaml
  scripts/build.mjs
  scripts/constants.mjs
  scripts/test.mjs
  src/fastify-fetch.ts
  src/headers.spec.ts
  src/headers.ts
  src/index.spec.ts
  src/index.ts
  tsconfig-build.json
  tsconfig.json
  tsup.config.ts
  vitest.config.ts
Due: prettier --write, eslint --fix

chore: node-fetch license irrelevant at this point
  LICENSE-NODE-FETCH
Due: none

fix: updates
  .eslintignore
  .gitignore
  .prettierignore
  LICENSE
  knip.json
  package.json
  pnpm-lock.yaml
  scripts/build.ts
  scripts/constants.json
  src/esroll.d.ts
  tsconfig.json
  tsup.config.ts
  vitest.config.ts
Due: prettier --write, eslint --fix

chore: update knip.json
  knip.json
Due: prettier --write

chore: updates
  .ls-lint.yaml
  knip.json
Due: prettier --write

chore: updates
  .github/renovate.json5
  knip.json
  lefthook.yaml
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: updates
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: updates
  .github/codecov.yaml
  .github/workflows/release.yaml
  .ls-lint.yaml
  knip.json
  lefthook.yaml
  package.json
  pnpm-lock.yaml
  scripts/constants.json
  tsconfig.json
  vitest.config.node.ts
  vitest.config.ts
  vitest.workspace.ts
Due: prettier --write

feat: undici 7 support
  .eslintignore
  .prettierignore
  LICENSE
  knip.json
  lefthook.yaml
  package.json
  pnpm-lock.yaml
  scripts/build.ts
  scripts/constants.json
  src/esroll.d.ts
  src/example.ts
  src/fastify-fetch.ts
  src/index.spec.ts
  src/same-origin.ts
  src/undici.d.ts
  vitest.config.node.ts
Due: prettier --write, eslint --fix

fix: upkeep
  .eslintignore
  .github/dependabot.yaml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/dependency-review.yaml
  .github/workflows/release.yaml
  .github/workflows/scorecard.yaml
  .gitignore
  .prettierignore
  package.json
  pnpm-lock.yaml
  scripts/constants.json
Due: prettier --write

chore: consistent test directory naming
  vitest.config.node.ts
Due: none

chore: upkeep
  package.json
  pnpm-lock.yaml
  scripts/constants.json
Due: prettier --write
