Repository escapace/fastify-fetch: changes, and which lint-staged commands are due for each by the changed paths.
All: syncpack-format --source, syncpack-set-semver-ranges --dev --source, prettier --write

.lintstagedrc.json:

{
  "package.json": [
    "syncpack-format --source",
    "syncpack-set-semver-ranges --dev --source"
  ],
  "*.md": ["prettier --write"],
  "{src,examples,perf}/**/*.ts?(x)": ["eslint --fix", "prettier --write"],
  "{src,examples,perf}/**/*.js?(x)": ["eslint --fix", "prettier --write"]
}

chore: add LICENSE-NODE-FETCH
  LICENSE-NODE-FETCH
Due: none

Update README.md
  README.md
Due: prettier --write

Notes added by 'git notes add'
  05229cb5984d62671fb52e68a2edcf7a246b180d
Due: none

fix: fetch-blob is a dependency
  package-lock.json
  package.json
  src/index.ts
  src/types.ts
Due: syncpack-format --source, syncpack-set-semver-ranges --dev --source

Notes added by 'git notes add'
  175b370806f95cb5d390ae797e57444edd9708ae
Due: none

fix: fetch-blob transpile to cjs
  package.json
Due: syncpack-format --source, syncpack-set-semver-ranges --dev --source

Notes added by 'git notes add'
  95df153d302290e8a5f2d862a486fe57f32520b8
Due: none

Notes added by 'git notes add'
  125eda1e8d38ee4e5288744e4e5a10921f933292
Due: none

Update package.json
  package.json
Due: syncpack-format --source, syncpack-set-semver-ranges --dev --source

feat: updates
  .eslintrc.json
  .github/dependabot.yml
  .github/renovate.json5
  .github/workflows/release.yml
  .github/workflows/test.yml
  .husky/pre-commit
  package-lock.json
  package.json
  pnpm-lock.yaml
  release.config.cjs
  scripts/test.mjs
  src/fastify-fetch.ts
  src/fetch.ts
  src/index.spec.ts
  src/index.ts
  src/types.ts
  tsconfig.json
Due: syncpack-format --source, syncpack-set-semver-ranges --dev --source

Notes added by 'git notes add'
  30c32e09b67aaf05f00f9696d085b03a90c21636
Due: none

fix: data-uri-to-buffer
  package.json
  pnpm-lock.yaml
Due: syncpack-format --source, syncpack-set-semver-ranges --dev --source

Notes added by 'git notes add'
  effd3a42ce848b4bb210c886acb70a313d94c55b
Due: none

chore(deps): update all non-major dependencies
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
Due: syncpack-format --source, syncpack-set-semver-ranges --dev --source

chore(deps): lock file maintenance
  pnpm-lock.yaml
Due: none

chore(deps): update actions/setup-node action to v3
  .github/workflows/release.yml
Due: none

feat: use undici
  .gitmodules
  package.json
  pnpm-lock.yaml
  scripts/test.mjs
  src/example.ts
  src/fastify-fetch.ts
  src/index.spec.ts
Due: syncpack-format --source, syncpack-set-semver-ranges --dev --source

Notes added by 'git notes add'
  ac2d35ce156f53861f7896978804fc585aff2f04
Due: none

chore(deps): update all non-major dependencies
  package.json
  pnpm-lock.yaml
Due: syncpack-format --source, syncpack-set-semver-ranges --dev --source

chore: update release workflow
  .github/workflows/release.yml
Due: none
